body {
    font-family: 'Heebo', sans-serif;
}
/* Шапка */
.header {
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 24px;
    width: 90%;
    margin-top: 30px;
}
.navbar-panel {
    display: flex;
    align-items: center;
}
.menu {
    list-style: none;
    margin: 0;
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 14px;
}
.menu-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-right: 33px;
}
.menu-link:hover {
    color: #FF6464
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.menu-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}
.close-menu {
    display: none;
}
.section-feature-work {
    width: 80%;
    margin: 0 auto;
}
.feature-card {
    display: flex;
    margin-top: 30px;
}
.feature-card-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #21243D;
}
.feature-work-header p {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.post-location {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-time {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    color: #21243D;
}
.location-geo {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    color: #8695A4;
}
.feature-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 24px;
}
.line {
    margin-top: 12px;
    border: none;
    height: 1px;
    background-color: #E0E0E0;
}
.footer {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-info-link {
    display: flex;
}
.link-page {
    margin: 25px;
}
.footer-info-loc {
    margin-left: 53px;
}
.footer-info-title {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    
}
@media (max-width: 800px) {
    .menu-button {
        display: block;
    }
    .close-menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }
    .navbar-panel  {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s, opacity 0.2s;
        transform: translate(-100%);
        opacity: 0;
    }
    .is-open {
        transform: translate(0%);
        opacity: 1;
    }
    .navbar-menu {
        margin-bottom: 20px;
    }
    .menu {
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content:    flex-start;
    }
    .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .button-group {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .feature-work-header p {
        font-size: 30px;
    }
    .feature-card-title {
        font-size: 26px;
    }
    .location-time {
        font-size: 16px;
    }
    .location-geo {
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .header_title {
        font-size: 32px;
    }
    .header-info {
        width: 90%;
    }
    .link-page {
        margin: 10px;
    }
    .footer-info-loc {
        margin-left: -7px;
    }
}